########################################
#    MACRO LEDS
########################################

# TOUT
[gcode_macro LUMIERE_ON]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED="caselight" RED=1 GREEN=1 BLUE=1 WHITE=1 SYNC=0 TRANSMIT=1
    SET_LED LED="status_leds" RED=1 GREEN=1 BLUE=1 WHITE=1 SYNC=0 TRANSMIT=1

[gcode_macro LUMIERE_OFF]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 WHITE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="status_leds" RED=0 GREEN=0 BLUE=0 WHITE=0 SYNC=0 TRANSMIT=1

# CASELIGHT
[gcode_macro STOP_LE]
gcode:
    STOP_LED_EFFECTS

[gcode_macro LE_LOADING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cl_loading

[gcode_macro LE_K2000]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cl_k2000

# SB



########################################
#    LED EFFECT - CASELIGHT
########################################

[led_effect cl_loading]
autostart: false
leds:
  neopixel:caselight
layers:
  	comet 5 1 add (1, 0, 0),(1, 0, 0)


[led_effect cl_k2000]
autostart: false
leds:
  neopixel:caselight
layers:
  	comet 1 1 add (1, 0, 0),(1, 0, 0)
  	comet -1 1 add (1, 0, 0),(1, 0, 0)


[led_effect cl_panel_idle]
autostart: true
frame_rate: 12
leds:
    neopixel:caselight
layers:
    breathing  10 1 top (.5,.5,1)


[led_effect cl_init]
autostart: false
frame_rate: 24
leds:
    neopixel:caselight
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)


[led_effect cl_rainbow]
autostart: false
frame_rate: 24
leds:
    neopixel:caselight
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)


########################################
#    LED EFFECT - STEAHLBURNER
########################################

[led_effect sb_panel_idle]
autostart: true
frame_rate: 12
leds:
    neopixel:status_leds
layers:
    breathing  10 1 top (.5,.5,1)


[led_effect sb_loading]
leds:
    neopixel:status_leds (1,2,6,7,5)
autostart: false
frame_rate: 24
layers:
    comet  0.5  0 add (1, 0, 0)


[led_effect sb_idle]
autostart: false
frame_rate: 24
leds:
    neopixel:status_leds (8-9)
layers:
    breathing  10 1 top (0.5,0.5,1.0)

##################
## logo effects ##
##################

[led_effect sb_logo_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_logo_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect sb_logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect sb_logo_heating]
leds:
    neopixel:status_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect sb_logo_cooling]
leds:
    neopixel:status_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect sb_logo_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect sb_logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect sb_logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect sb_logo_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect sb_logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect sb_logo_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (1-8)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

####################
## nozzle effects ##
####################

[led_effect sb_nozzle_heating]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (9,10)
layers:
        breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

[led_effect sb_nozzle_cooling]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (9,10)
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect sb_nozzle_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (9,10)
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

[led_effect sb_nozzle_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:status_leds (9,10)
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)